@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3:'Siriacha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(99, 104, 104);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a :hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}
 
section {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;

}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}





footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px
}